.navbar {
  height: 60px;

  .navbar-container {
    background-color: $white;
    .navbar-toggler {
      border: none;
    }
    .navbar-nav {
      .nav-link {
        font-weight: bold;
        color: rgba($black, 0.75);
        position: relative;
        transition: color ease 0.4s;
        &:after {
          content: "";
          position: absolute;
          left: 8px;
          bottom: 4px;
          width: 0;
          height: 3px;
          background-color: rgba($black, 0.75);
          transition: width ease 0.4s;

          @media (max-width: 992px) {
            content: none;
          }
        }

        &:hover {
          text-decoration: none;
          color: rgba($black, 0.75);

          &::after {
            width: calc(100% - 8px * 2);
          }
        }
      }
      .active {
        position: relative;
        color: $black;
        &:after {
          width: calc(100% - 8px * 2) !important;
          background-color: $black !important;
        }

        &:hover {
          color: $black !important;
        }
      }
    }
  }
}
