#home-about {
  .about {
    position: relative;

    @media (max-width: 768px) {
      margin: 0 15px;
      width: calc(100% - 15px * 2);
    }
    &__content {
      background: $gray;
      padding: 50px 200px 50px 95px;
      @media (max-width: 768px) {
        padding: 50px 30px;
      }

      &__text {
        line-height: 30px;
        margin-bottom: 20px;
        opacity: 0.75;
      }
    }

    &__picture {
      position: absolute;
      width: calc(100% / 12 * 5);
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: 992px) {
        display: none;
      }
      img {
        box-shadow: 10px 10px 30px #00000029;
      }
    }
  }
}
